.advantages {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.advantages__wrapper {
  @media (min-width: $tablet-width) {
    max-width: 708px;
  }
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-direction: column;

  //не видишь, где ошибка в счетчике?

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
    max-width: 708px;
    display: grid;
    grid-template-columns: repeat(2, 230px);
    gap: 153px 77px;
    counter-reset: advantages;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    max-width: 1220px;
    grid-template-columns: repeat(4, 230px);
    gap: 95px;
  }
}

.advantages__item {
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 53px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 0;
    padding: 40px 29px 57px 0;
    flex-direction: column;
    counter-increment: advantages;
  }
}

.advantages__item::after {
  @media (min-width: $tablet-width) {
    content: counter(adavantages);
    width: 112px;
    // height: 280px;
    top: 0;
    left: 50%;
    position: absolute;
    font-family: $title-font;
    font-size: 280px;
    line-height: 280px;
    color: $bg-secondary-color;
    z-index: -1;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: $title-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.advantages__description {
  margin: 0;

  @include description-text;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
