.banner {
  padding: 27px 20px 0;
}

.banner__wrapper {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 100%;
  background-position: center;
}

.banner__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.banner__slogan {
  padding-bottom: 299px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .banner {
    padding: 0 30px;
  }

  .banner__wrapper {
    max-width: 709px;
    background-color: inherit;
    background-image: none;
  }

  .banner__title {
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    color: $title-color;
    text-align: left;
  }

  .banner__slogan {
    padding-bottom: 629px;
    font-size: 20px;
    line-height: 20px;
    color: $title-color;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    padding: 0 110px;
  }

  .banner__wrapper {
    max-width: 1220px;
  }
  .banner__title {
    margin-bottom: 40px;
  }

  .banner__slogan {
    padding-bottom: 42px;
  }
}
