.banner {
  margin: 0 auto;
  background-image: linear-gradient(to top, #ffffff 37%, rgba(104, 183, 56, 0.85) 37%, rgba(104, 183, 56, 0.85) 67%), url("../img/index-bg-mobile.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 320px auto;
  background-position: center, top;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to top, #ffffff 37%, rgba(104, 183, 56, 0.85) 37%, rgba(104, 183, 56, 0.85) 67%), url("../img/index-bg-mobile@2x.jpg");
    background-size: cover, 320px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}

.banner__wrapper {
  padding: 27px 0 0;
  margin: 0 auto;
  max-width: 280px;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    margin: 0 auto;
    padding: 0 0 526px;
    position: relative;
    background-color: inherit;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding-bottom: 200px;
  }
}

.banner__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-left: 81px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    color: $title-color;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.banner__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-left: 81px;
    margin-bottom: 49px;
    padding-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    color: $title-color;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 42px;
  }
}

.banner__image {
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    top: -80px;
    left: 485px;
    width: 552px;
    height: 499px;
    z-index: 1;
  }
}

.banner__button {
  width: 280px;
  margin: 0 auto;
  padding: 11px 44px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 80px;
    width: 244px;
    padding: 17px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}
