.button {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  border: none;

  &--primary {
    font-size: 16px;
    line-height: 20px;
    color: $basic-white;
    background-color: $basic-green;
  }

  &--show-more {
    font-size: 16px;
    line-height: 20px;
    color: $text-color;
    background-color: $bg-secondary-color;
  }
}
