.button {
  display: block;
  box-sizing: border-box;
  font-family: $title-font;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
}

.button--primary {
  color: $basic-white;
  background-color: $basic-green;
}

.button--primary:hover,
.button--primary:focus {
  background-color: #5eaa2f;
}

.button--primary:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
