.card {
  border-bottom: 1px solid #ebebeb;

  @include list-reset;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    border-bottom: none;
  }
}

.card:nth-child(2) .card__link-image {
  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }
}

.card__wrapper {
  max-width: 280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 120px auto;
  padding: 19px 0 14px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 36px 39px;
    position: relative;
    border: none;
    background-image: linear-gradient(#ffffff 14%, #f2f2f2 14%, #f2f2f2 86%);
  }
}

// .card:nth-child(odd) .card__image {
//   @media (min-width: $tablet-width) {
//     position: absolute;
//     bottom: 303px;
//     left: 81px;
//     width: 162px;
//     height: 172px;
//   }

//   @media (min-width: $desktop-width) {
//     left: 42px;
//   }
// }

// .card:nth-child(even) .card__image {
//   @media (min-width: $tablet-width) {
//     position: absolute;
//     bottom: 303px;
//     left: 78px;
//     width: 168px;
//     height: 200px;
//   }

//   @media (min-width: $desktop-width) {
//     left: 39px;
//   }
// }

.card__link-image {
  grid-column: 1/2;
  grid-row: 1/4;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 34px;
  }
}

.card__image {
  display: block;
  margin: 0;
}

.card__title {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0 0 14px;
}

.card__link {
  display: block;
  max-width: 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin: 0 auto 21px;
    max-width: 158px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.card__block {
  margin-bottom: 22.07px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.card__list {
  @include list-reset;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  font-family: $basic-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $text-color;

  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__list:last-child {
  margin-bottom: 0;
}

.card__description {
  margin: 0;
}

.card__button {
  grid-column: 1/-1;
  grid-row: 3/4;
  width: 280px;
  padding: 10px 109px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 248px;
    padding: 10px 93px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    padding: 10px 43px;
  }
}

.card__image--chicken500 {
  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
    padding-top: 40px;
  }
}

.card__image--chicken1000 {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 206px;
    padding-top: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 202px;
  }
}

.card__image--fish500 {
  @media (min-width: $tablet-width) {
    width: 163px;
    height: 174px;
    padding-top: 23px;
  }
}

.card__image--fish1000 {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.card__image--buckwheat500 {
  @media (min-width: $tablet-width) {
    width: 161px;
    height: 171px;
    padding-top: 25px;
  }
}

.card__image--buckwheat1000 {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
    margin-top: -5px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.card__image--rice500 {
  @media (min-width: $tablet-width) {
    width: 163px;
    height: 174px;
    padding-top: 25px;
  }
}
