.card {
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    border-bottom: none;
  }
}

.card__wrapper {
  max-width: 280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 120px auto;
  padding: 19px 18px 14px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 161px 36px 39px;
    position: relative;
    border: none;
  }
}

.card:nth-child(odd) .card__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 303px;
    left: 81px;
    width: 162px;
    height: 172px;
  }

  @media (min-width: $desktop-width) {
    left: 42px;
  }
}

.card:nth-child(even) .card__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 303px;
    left: 78px;
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    left: 39px;
  }
}

.card__link-image {
  grid-column: 1/2;
  grid-row: 1/4;
}

.card__title {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0 0 14px;
}

.card__link {
  display: block;
  max-width: 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin: 0 auto 21px;
  }
}

.card__image {
  display: block;
  margin: auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.card__block {
  margin-bottom: 22.07px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.card__list {
  @include list-reset;
  grid-column: 2/3;
  grid-row: 2/3;
}

.card__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 9px;
    margin-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__list:last-child .card__item {
  margin-bottom: 0;
}

.card__feature {
  font-family: $basic-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $text-color;
}

.card__description {
  margin: 0;
  font-family: $basic-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $text-color;
}

.card__button {
  grid-column: 1/-1;
  grid-row: 3/4;
  width: 280px;
  padding: 10px 109px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 248px;
    padding: 10px 93px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    padding: 10px 43px;
  }
}
