.catalog-container__title {
  padding: 27px 0 41px;
  margin: 0 auto;
  display: block;
  max-width: 280px;

  @include mid-size-title;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
    padding: 0;
    max-width: 708px;

    @include large-size-title;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
    padding: 0;
    max-width: 1220px;
  }
}
