// .catalog-container {}

.catalog-container__title {
  padding: 27px 20px 41px;
  margin: 0;

  @include mid-size-title;
  border-top: $border-bottom;
  border-bottom: $border-bottom;

  @media (min-width: $tablet-width) {
    margin-bottom: 163px;
    padding: 0;
    border: none;

    @include large-size-title;
  }

  @media (min-width: $desktop-width) {
    margin: 74px 0 165px;
    padding: 0;
  }
}
