.control__label {
  position: relative;
  padding-left: 45px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.control > .control__input + .control__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

.control > .control__input--radio + .control__label::before {
  border-radius: 50%;
}


.control > .control__input--radio:checked + .control__label::after {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $basic-green;
  content: "";
}

.control > .control__input--checkbox:checked + .control__label::after {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 25px;
  height: 19px;
  background: $basic-green;
  clip-path: polygon(3% 45%, 9% 33%, 45% 80%, 90% 10%, 98% 20%, 45% 100%);
  content: "";
}

.control > .control__input:disabled + .control__label {
  opacity: 0.3;
}

.control:hover > .control__input + .control__label::before {
  border: 1px solid #bababa;
}

.control:focus > .control__input + .control__label::before {
  border: 1px solid #bababa;
}
