.control__label {
  position: relative;
  padding-left: 45px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.control > .control__input + .control__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

.control > .control__input--radio + .control__label::before {
  border-radius: 50%;
}


.control > .control__input--radio:checked + .control__label::after {
  position: absolute;
  top: 8.28px;
  left: 8.28px;
  width: 13.5px;
  height: 13.55px;
  border-radius: 50%;
  background-color: $basic-green;
  content: "";
}

.control > .control__input--checkbox:checked + .control__label::after {
  position: absolute;
  top: 8.1px;
  left: 6.2px;
  width: 18px;
  height: 14px;
  background-image: url("../img/icons/checkbox-on.svg");
  background-repeat: no-repeat;
  content: "";
}

.control > .control__input:disabled + .control__label {
  opacity: 0.3;
}

.control:hover > .control__input + .control__label::before {
  border: 1px solid #bababa;
}

.control:focus > .control__input + .control__label::before {
  border: 1px solid #bababa;
}
