.example__container {
  background: #eaeaea;


  @media (min-width: $tablet-width) {
    margin-top: 43px;
    background: linear-gradient(#ffffff 58%, #eaeaea 58%, #eaeaea 32%);
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    background: linear-gradient(#ffffff 25%, #eaeaea 25%, #eaeaea 75%);
  }
}

.example__wrapper {
  max-width: 280px;
  margin: 0 auto;
  padding: 25px 20px 40px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding-bottom: 75px;
    flex-direction: row;
  }
}

.example__content {
  position: relative;

  @media (min-width: $desktop-width) {
    margin-right: 192px;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 436px;
  }
}

.example__title {
  max-width: 280px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $title-color;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin-bottom: 103px;
    padding-top: 43px;
    background-color: $basic-white;
    border: none;
  }
}

.example__numbers {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.example__list {
  margin-bottom: 34px;
  display: flex;
  justify-content: space-between;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 366px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    padding: 0;
  }
}

.example__item {
  position: relative;
}

.example__number {
  display: block;
  box-sizing: border-box;
  padding: 16px 42.5px;
  width: 124px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $title-color;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    padding: 15px 57px 20px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item:nth-child(2) .example__number {
  display: block;
  box-sizing: border-box;
  padding: 16px 20px;

  @media (min-width: $tablet-width) {
    padding: 15px 30px 20px;
  }
}

.example__explanation {
  position: absolute;
  top: 46px;
  right: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 1px 6px 4px 4px;
  width: 87px;
  font-family: $basic-font;
  font-size: 12px;
  line-height: 1;
  color: $text-color;
  text-align: center;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    top: 51px;
    right: 24px;
    width: 114px;
    padding: 16px 9px 20px 8px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.example__item:nth-child(2) .example__explanation {
  @media (min-width: $tablet-width) {
    top: 60px;
    right: 10px;
    width: 142px;
    padding: 5px 8px 8px 7px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;

  @include description-text;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.example__total {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $title-color;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    position: static;
    width: 326px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__visual {
  position: relative;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0 58.5px 56px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.example__model {
  @media (min-width: $tablet-width) {
    // width: 592px;
  }
}

.example__model-before {
  width: 100%;
  max-width: none;
}

.example__model-before img {
  display: block;
}

.example__model-before img,
.example__model-after img {
  @media (min-width: $tablet-width) {
    width: 592px;
    height: 511px;
  }
}
