.line {
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 100%;
  background-color: $basic-green;
  z-index: -1;
}

.line__container {
  max-width: 320px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}

.line__title {
  max-width: 190px;
  padding: 0 20px;
  background-color: $basic-white;
  display: inline-block;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}
