.main-header--bordered {
  border-bottom: $border-bottom;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.main-header__nav--index::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    display: block;
    top: -55px;
    right: -110px;
    width: 720px;
    height: 694px;
    background-image: url("../img/index-background-desktop.jpg");
    background-size: 720px auto;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}

.main-header__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 10px 0 13px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    margin: 0 auto 62px;
    padding: 25px 0 0;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 111px;
    max-width: 1220px;
    padding: 54px 0 0;
  }
}

.main-header__logo img {
  height: 37.7px;
  text-align: center;
  width: 191px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 174px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: auto;
  }
}

.main-header__logo {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-header__logo:hover,
.main-header__logo:focus {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.6;
}

.main-header__nav {
  background-color: #ffffff;

  @media (min-width: $desktop-width) {
    background-color: transparent;
    position: relative;
  }
}
