.main-footer {
  background: $bg-secondary-color;
}

.main-footer__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 708px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}

.main-footer__footer-logo {
  padding: 39px 75px 31px;
  border-bottom: $border-bottom;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    padding: 0;
    border: none;
  }
}

.main-footer__footer-logo:hover,
.main-footer__footer-logo:focus {
  opacity: 0.8;
}

.main-footer__footer-logo:active {
  opacity: 0.6;
}

.main-footer__copyright {
  padding: 22px 0;
  margin-right: 30px;
}
