.main-nav {
  // position: relative;
  width: auto;
}

.main-nav__toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  z-index: 3;
  display: block;
  width: 24px;
  height: 38px;
  background-color: $basic-white;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle:hover {
  background-color: $bg-secondary-color;
}

.main-nav__toggle:active {
  background-color: #ebebeb;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: $title-color;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#000000, 30%);
  box-shadow: 0 8px 0 0 fade(#000000, 30%), 0 16px 0 0 fade(#000000, 30%);
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 14px;
  right: 20px;
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
  box-shadow: none;
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 10;
  width: 100%;
  background-color: $basic-white;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .site-list__item {
  display: block;
}


.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    // width: 440px;
  }

  @media (min-width: $desktop-width) {
    // width: 478px;
  }
}

.main-nav__list {
  @include list-reset;
}
