.main-footer {
  padding: 0 20px;
}

.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
  background: $bg-secondary-color;
}

.main-footer__footer-logo {}

.main-footer__social {}

.main-footer__copyright {}

@media (min-width: $tablet-width) {
  .main-footer {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding: 0 110px;
  }
}
