.map {
  padding: 0;
}

.map__wrapper {

}

.map__advertisment {}

.map__address {
  font-family: $basic-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $text-color;
}
