.page {
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  color: $text-color;
  background-color: #ffffff;
}
