.page {
  height: 100%;
  font-family: $title-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: $text-color;
  background-color: #ffffff;
}

// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }
