.page {
  height: 100%;
  font-family: $title-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
// что-то запуталась, как здесь сделать, сразу переходит все на планшетный размер, ....забыла подключить медиа((но как тут быть в page?  что оставить, а что нет?
.page__body {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  // min-width: 320px;
  color: $text-color;
  background-color: #ffffff;
}
//   @media (min-width: $tablet-width){
//     width: 768px;
//   }

//   @media (min-width: $desktop-width) {
//     width: 1440px;
//   }
// }
