.page {
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 320px;
  color: $text-color;
  background-color: #ffffff;

  @media (min-width: $tablet-width){
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}
