.product-category {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.product-category__list {
  @include list-reset;
  width: 708px;

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.product-category__item {
  max-width: 708px;
  background: $bg-secondary-color;

  @media (min-width: $desktop-width) {
    max-width: 570px;
  }
}

.product-category__title {
  font-family: $title-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $title-color;
}

.product-category__description {
  @include description-text;
}

.product-category__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $title-color;
}
