.product-category__wrapper {
  margin: 0 auto;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    max-width: 708px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}

.product-category__list {
  @include list-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    max-width: 708px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
    max-width: 1220px;
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
  }
}

.product-category__item {
  max-width: 280px;
  margin-bottom: 20px;
  padding: 30px 20px 18px;
  background: $bg-secondary-color;
  position: relative;

  &:first-of-type {
    margin-top: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding: 77px 316px 53px 52px;
    max-width: 708px;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 45px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 77px 51px 55px 52px;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.product-category__item::before {
  content: "";
  position: absolute;
  top: 24px;
  width: 50px;
  height: 50px;
  background-color: $basic-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 93px;
    left: 446px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }
}

.product-category__item--slim::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 29px;
  width: 36px;
  height: 50px;
  background-image: url("../img/cat-slim-icon.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 81px;
    left: 476px;
    width: 140.07px;
    height: 194px;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    top: 41px;
    left: 67px;
    width: 70px;
    height: 97px;
    background-size: cover;
  }
}

.product-category__item--pro::after {
  content: "";
  position: absolute;
  top: 35.02px;
  left: 12.99px;
  width: 67.03px;
  height: 28.08px;
  background-image: url("../img/cat-pro-icon.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 135px;
    left: 412px;
    width: 268px;
    height: 112px;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    top: 67px;
    left: 33px;
    width: 134px;
    height: 56px;
    background-size: cover;
  }
}

.product-category__title {
  margin: 0;
  margin-bottom: 29px;
  display: inline-block;
  padding-left: 70px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $title-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    padding-left: 0;
    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    padding-left: 162px;
  }
}

.product-category__description {
  margin: 0;
  margin-bottom: 12px;
  padding-bottom: 23px;

  @include description-text;
  border-bottom: $border-bottom;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: $title-color;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.product-category__button {
  max-width: 134px;
  box-sizing: border-box;
  padding: 6px 47px 4px 1px;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: $title-color;

  @media (min-width: $tablet-width) {
    max-width: 165px;
    padding: 0 57px 4px 0;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 168px;
    padding: 3px 50px 4px 0;
    margin-left: -6px;
  }
}

.product-category__button:hover {
  opacity: 0.6;
}

.product-category__button:active {
  opacity: 0.3;
}

.product-category__button::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  right: 10px;
  width: 24px;
  height: 24px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(1);
  transform-origin: center left;
  transition: 0.5s;

  @media (min-width: $tablet-width) {
    top: -3px;
    right: 9px;
    height: 38px;
  }
}

.product-category__button:hover::after {
  top: -3px;
  right: 0;
  transform: scaleX(1.4);
}
