.products-supplementary__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    display: grid;
    grid-template-columns: 896px 245px;
    gap: 79px;
    padding: 0;
    margin-bottom: 86px;
  }
}

.products-supplementary__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 36px;
  padding: 0 20px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $title-color;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    margin-left: 37px;
    margin-bottom: 0;
    padding: 0 36px;

    @include mid-size-title;
  }

  @media (min-width: $desktop-width) {
    margin-left: -37px;
    padding: 0 35px 0 40px;
  }
}

.products-supplementary__list {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 35.12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    border: none;
  }
}

.products-supplementary__decorative-line {
  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}
