// .range {}

.range__scale {
  margin: 0 13px;
  position: relative;
  width: 85.58px;
  height: 14px;
  background-color: $basic-white;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 426px;
    height: 6px;
    background: #dcdcdc;
    border: none;
    border-radius: 6px;
    cursor: default;
  }
}

.range__bar {
  position: absolute;
  left: 6.11px;
  top: 4px;
  width: 35.66px;
  height: 6px;
  background: $basic-green;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: 426px;
    top: 0;
    left: 0;
    background-color: transparent;
    cursor: pointer;
  }
}

.range__toggle {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -14px;
    left: 50%;
    display: block;
    width: 33.84px;
    height: 34px;
    box-sizing: border-box;
    background: $basic-white;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}

.range__toggle:hover,
.range__toggle:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
}

.range__toggle:active {
  border: 1px solid $basic-green;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.range__toggle::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 40%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $basic-green;
}
