.site-list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .site-list {
    width: 440px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 478px;
  }
}

.site-list__item {
  &--current {}
}

.site-list__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: $title-color;
  text-decoration: none;
}
