.site-list {
  font-weight: 500;

  @media (min-width: $tablet-width) {
    width: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
  }
}

.site-list a {
  position: relative;
  display: block;
  padding: 22px 0 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $title-color;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: $basic-white;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border-bottom: none;
  }
}

.site-list a:hover {
  opacity: 0.6;
}

.site-list a:focus {
  opacity: 0.3;
}

.site-list__item {
  @media (min-width: $tablet-width) {
    margin-right: 35px;

    .site-list__item:last-child {
      margin-right: 0;
    }

    &--current {}
  }
