.slider-control {
  max-width: 210px;
  display: flex;
  padding: 0 35px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    align-items: center;
    padding: 0;
    max-width: 595px;
  }
}

.slider-control__button {
  position: relative;
  width: 49px;
  box-sizing: border-box;
  padding: 5px 6px;
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  color: $title-color;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 69px;
    padding: 0 10px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -2px;
  }
}

.slider-control__button::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 12px;
    width: 45px;
    height: 1px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
  }
}

.slider-control__button:hover,
.slider-control__button:focus {
  opacity: 0.6;

  @media (min-width: $tablet-width) {
    opacity: 1;
  }
}

.slider-control__button:active {
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    opacity: 1;
  }
}

.slider-control__button:hover::after,
.slider-control__button:focus::after {
  @media (min-width: $tablet-width) {
    width: 47px;
    left: 11px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
}

.slider-control__button:active::after {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
