.social__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 140px;

  @include list-reset;
  padding: 9px 70px;
  border-bottom: $border-bottom;

  @media (min-width: $tablet-width) {
    max-width: 150px;
    border: none;
  }
}

.social__link {
  display: block;
  position: relative;
  width: 46px;
  height: 46px;

  @media (min-width: $tablet-width) {
    width: 50px;
  }
}

.social__link svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #666666;
  text-align: center;
}

.social__link:hover svg,
.social__link:focus svg {
  fill: $basic-green;
}

.social__link:active svg {
  fill: $basic-green;
  opacity: 0.3;
}
