.user-form__block {
  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto 67px;
    display: flex;
    justify-content: space-between;
  }
}

.user-form__info {
  display: flex;
  flex-direction: column;
  border-bottom: $border-bottom;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
    padding: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.user-form__list {
  @include list-reset;
  padding: 0 20px 21px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    grid-column: 1/2;
  }
}

.user-form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.user-form__item:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.user-form__label {
  margin-top: -3px;
  margin-right: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    max-width: 630px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.user-form__info .user-form__item:last-child .user-form__label {
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    margin-right: 19px;
  }
}

.user-form__input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 13px 14px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color;
  border: $border-input;
  appearance: textfield;

  @media (min-width: $tablet-width) {
    padding: 10px 35px 10px 17px;
    font-size: 20px;
    line-height: 30px;
  }
}

.user-form__icon-phone {
  position: absolute;
  top: 25%;
  right: 5%;
  width: 20px;
  height: 20px;
  fill: #222222;

  @media (min-width: $tablet-width) {
    right: 2%;
  }

  @media (min-width: $desktop-width) {
    right: 3%;
  }
}

.user-form__icon-mail {
  position: absolute;
  top: 37%;
  right: 6%;
  width: 18px;
  height: 13px;
  stroke: #222222;
  fill: $basic-white;

  @media (min-width: $tablet-width) {
    top: 33%;
    right: 2%;
  }

  @media (min-width: $desktop-width) {
    right: 4%;
  }
}

.user-form__input:hover {
  border: 1px solid #cdcdcd;
}

.user-form__input:focus {
  outline: 1px solid #444444;
  border: 1px solid #444444;
}

.user-form__input:focus ~ .user-form__icon-phone {
  fill: $basic-green;
}

.user-form__input:focus ~ .user-form__icon-mail {
  stroke: $basic-green;
}

.user-form__input:focus:invalid ~ .user-form__icon-phone {
  fill: #ff8282;
}

.user-form__input:focus:invalid ~ .user-form__icon-mail {
  stroke: #ff8282;
}

.user-form__input:focus:invalid {
  outline: 1px solid #ff8282;
  border: 1px solid #ff8282;
}

.user-form__input::placeholder {
  @include placeholder-small;

  @media (min-width: $tablet-width) {
    @include placeholder-large;
  }
}

.user-form__input::-webkit-outer-spin-button,
.user-form__input::-webkit-inner-spin-button {
  appearance: none;
}


.user-form__goals {
  border-bottom: $border-bottom;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.user-form__goals .filter {
  @media (min-width: $tablet-width) {
    max-width: 630px;
    padding: 28px 27px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
    padding: 28px 249px 30px 28px;
  }
}

.user-form__filter {
  margin: 0 auto;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    border: $border-input;
  }
}

.user-form__contacts {
  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.user-form__contacts .line::before {
  top: 38%;

  @media (min-width: $tablet-width) {
    top: 55%;
  }
}

.user-form__contacts .user-form__list {
  max-width: 280px;
  padding: 0 20px;
  margin-bottom: 23.57px;
  border-bottom: none;

  @media (min-width: $tablet-width) {
    max-width: 630px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
    display: flex;
    max-width: 1220px;
  }
}

.user-form__contacts .user-form__item:not(:last-child) {
  @media (min-width: $desktop-width) {
    margin-right: 78px;
  }
}

.user-form__contacts .user-form__item {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.user-form__contacts .user-form__title {
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
  }
}

.user-form__contacts .user-form__label {
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 18px;
  }
}

.user-form__contacts .user-form__input {
  padding: 13px 35px 13px 14px;

  @media (min-width: $tablet-width) {
    padding: 10px 40px 10px 20px;
  }
}

.user-form__contacts .user-form__decorative-line,
.user-form__aboutself .user-form__decorative-line {
  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.user-form__aboutself {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 64px;
  }
}

.user-form__comment {
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 631px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}

.user-form__comment-textarea {
  width: 280px;
  height: 150.5px;
  box-sizing: border-box;
  padding: 9.3px 13.5px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color;
  border: $border-input;
  resize: none;

  @media (min-width: $tablet-width) {
    padding: 9.3px 18.5px;
    width: 631px;
    height: 173.5px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    height: 170px;
  }
}

.user-form__comment-textarea:hover {
  border: 1px solid #cdcdcd;
}

.user-form__comment-textarea:focus,
.user-form__comment-textarea:active {
  outline: 1px solid #444444;
  border: 1px solid #444444;
}

.user-form__comment-textarea::placeholder {
  @include placeholder-small;

  @media (min-width: $tablet-width) {
    @include placeholder-large;
  }
}


.user-form__title {
  margin: 28px 0 35px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $title-color;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.user-form__aboutself .user-form__title {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -38px;
  }
}

.user-form__add-products {
  margin-bottom: 15px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.user-form__add-products .filter__list {
  padding-top: 0;

  @media (min-width: $tablet-width) {
    max-width: 630px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 240px);
    gap: 42px 102px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 225px);
    gap: 42px 99px;
    max-width: 1220px;
  }
}

.user-form__add-products .filter__item {
  @media (min-width: $tablet-width) {
    margin: -2px 0 0;
  }
}

.user-form__add-products .user-form__decorative-line {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}


.user-form__button-wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 auto 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.user-form__aboutself .user-form__decorative-line {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }
}
