.page__body {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  background-color: #ffffff;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  padding: 10px 20px 17px;
}

.main-header__nav {
  background-color: #ffffff;
}

.banner__wrapper {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
}

.banner__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.banner__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.product-category {
  padding: 0 20px;
}

.product-category__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-category__item {
  background: #f2f2f2;
}

.product-category__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.product-category__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.product-category__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.advantages {
  padding: 0 20px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.advantages-description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example {
  padding: 0 20px;
}

.example__content {
  background: #eaeaea;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__total {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.map {
  padding: 0;
}

.map__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.map-advertisment__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.main-footer {
  padding: 0 20px;
}

.main-footer__wrapper {
  background: #f2f2f2;
}

.copyright-link {
  text-decoration: none;
}

.copyright-link__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.program-form {
  padding: 0 20px;
}

.program-form__title {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.program-form__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.user-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.user-form__filter {
  margin: 0;
  border: none;
}

.user-form__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.user-form__note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}
.filter__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter__control {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.catalog-container__title {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.products {
  padding: 0 20px;
}

.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card__link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;
}

.card__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card__feature {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.card__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.benefits__wrapper {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
}

.benefits__legend {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.button {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}
.button--primary {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
}
.button--show-more {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
}
/*# sourceMappingURL=style.css.map */