.page__body {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  background-color: #ffffff;
}

// есть ли смысл в этом файле, если везде по частям все из него? или оставить только то, что редко встречается?
